Source: aurex-wine
Section: admin
Priority: optional
Maintainer: Luis Antonio Garcia Gisbert <luisgg@gmail.com>
Build-Depends: debhelper (>= 7.0)
Standards-Version: 3.8.4

Package: aurex-wine
Architecture: any
Depends: ${misc:Depends}, zenity, wine, wine1.7
Description: wine settings for aurex
 This package provides wine configuration and settings for aurex

Package: aurex-powerpoint-viewer
Architecture: all
Depends: ${misc:Depends}, powerpoint-viewer-bin, wine1.7 | wine1.6, aurex-wine (>= 1.6.1+aurex3), aurex-default-associations (>=12.04.51)
Description: Microsoft PowerPoint Viewer
 This package automagically installs and configures
 Microsoft PowerPoint Viewer to run under wine

